#timer {
    float:right;
    margin-right: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.titlebox {
    border: 3px solid blue;
    display:block;
    margin:auto;
    text-align:center;
    width:50%
}

.questionone {
    display:none;
}

.questiontwo {
    display:none;
}

.questionthree {
    display:none;
}

.questionfour {
    display:none;
}

.questionfive {
    display:none;
}

.questionsix {
    display:none;
}

.questionseven {
    display:none;
}

.questioneight {
    display:none;
}

#correct {
    display:none;
}

#incorrect {
    display:none;
}

#questionlist div button {
    display:block;
    border: 8px solid cornflowerblue;
    background-color:lightblue;
    color:purple;
    font-size:larger;
    border-radius:10px;
    text-align:center;
    margin:10px;
    padding: 10px;
    width: 50%;
    margin: 5px, auto, 5px, auto;
}

#questionlist div {
    border: 3px solid purple;
    width:50%;
    text-align:center;
    margin:auto;
    padding: 3px;
}

#scoredisplay {
    display:none;
    border: 10px solid black;
    width:75%;
    text-align:center;
    margin:auto;
    padding: 3px;

}

.highscorelist {
    display:none;
}

#returntogamebtn {
    display:none;
}

.highscoreenter {
    display:none;
}

#startquizbtn {
    margin-bottom: 5px;
}

#startquizbtn:hover {
    background-color:lightblue;
    color:purple;
}

#questionlist div button:hover {
    background-color:purple;
    color:lightblue;
}

#returntogamebtn:hover {
    background-color:purple;
    color:lightblue;
}

#highscores:hover {
    background-color:purple;
    color:lightblue;
}

#submitscorebtn:hover {
    background-color:purple;
    color:lightblue;
}

#highscores {
    margin-bottom: 5px;
}