#timer {
    float:right;
}

.titlebox {
    border: 3px solid blue;
    display:block;
    margin:auto;
    text-align:center;
    width:50%
}

.questionone {
    display:none;
}

.questiontwo {
    display:none;
}

.questionthree {
    display:none;
}

.questionfour {
    display:none;
}

.questionfive {
    display:none;
}

.questionsix {
    display:none;
}

.questionseven {
    display:none;
}

.questioneight {
    display:none;
}

#correct {
    display:none;
}

#incorrect {
    display:none;
}

#questionlist div button {
    display:block;
    border: 8px solid cornflowerblue;
    background-color:lightblue;
    color:purple;
    font-size:larger;
    border-radius:10px;
    text-align:center;
    margin:10px;
}

#questionlist div {
    border: 3px solid purple;
    width:50%;
    text-align:center;
    margin:auto;
    padding: 3px;
}

#scoredisplay {
    display:none;
    border: 10px solid black;
    width:75%;
    text-align:center;
    margin:auto;

}

.highscorelist {
    display:none;
}

#returntogamebtn {
    display:none;
}