#timer {
    float:right;
}

.titlebox {
    border: 3px solid blue;
    display:block;
    margin:auto;
    text-align:center;
    width:50%
}

.questionone {
    display:none;
}

.questiontwo {
    display:none;
}

.questionthree {
    display:none;
}

.questionfour {
    display:none;
}

.questionfive {
    display:none;
}

.questionsix {
    display:none;
}

.questionseven {
    display:none;
}

.questioneight {
    display:none;
}

#correct {
    display:none;
}

#incorrect {
    display:none;
}